$--color-primary: #5585bf;
$--color-primary-light: mix($--color-primary, white, 80%);
$--color-primary-light-2: mix($--color-primary, white, 40%);
$--color-primary-light-3: mix($--color-primary, white, 30%);
$--color-primary-lighter: #adbaca;
$--color-secondary: #3c8aa9;
$--color-secondary-light: mix($--color-secondary, white, 70%);
$--color-primary-dark: #295d91;
$--color-black-lighter: #303030;

$--color-info: #8b8f92;
$--color-dark: #707477;
$--color-info-light: #c7cadd;
$--color-info-lighter: #e6e8f6;

$--color-success-light: #d0f5ca;
$--color-error-light: #f5caca;
$--color-warning-light: #f5eeca;


$--color-danger: #F56C6C;
$--color-danger-dark: #d75c5c;