$--color-primary: #5585bf;
$--color-primary-lighter: #7d99be;
$--color-primary-light: #3c8aa9;
$--color-primary-dark: #295d91;
$--color-black-lighter: #2b2828;

$--color-info: #8b8f92;
$--color-dark: #707477;
$--color-info-light: #c7cadd;
$--color-info-lighter: #e6e8f6;