@import "~element-ui/packages/theme-chalk/src/date-picker/date-picker";
@import "~element-ui/packages/theme-chalk/src/date-picker/time-picker";
@import "~element-ui/packages/theme-chalk/src/date-picker/time-spinner";
@import "~element-ui/packages/theme-chalk/src/date-picker/date-table";
@import "~element-ui/packages/theme-chalk/src/date-picker/picker-panel";

.el-picker-panel__content {
  .el-date-table {
    .today.m-cell {
      div {
        span {
          border-radius: 5px !important;
          background-color: $--color-primary-light-9;
        }
      }
    }

    .m-cell {
      &:hover {
        background-color: $--color-primary-light-9;
        border-radius: 5px;
      }

      div {
        span {
          border-radius: 5px !important;
        }
      }
    }
  }
}

.el-time-panel__content {
  font-family: 'cmu_brightroman', monospace;
}

.el-time-panel__footer {
  .confirm {
    font-weight: normal;
  }

  .cancel, .confirm {
    &:hover {
      font-weight: 600;
    }
  }
}