@import "spacing";

@for $i from 0 through 12 {
  .width-#{$i} {
    width: calc(100% / 12 * #{$i});
  }
}

.cp {
  cursor: pointer;
}

.flr {
  display: flex;
  flex-direction: row;
}

.flс {
  display: flex;
  flex-direction: column;
}

.justify-c {
  justify-content: center;
}

.justify-sb {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-c {
  align-items: center;
}

.primary-button {
  .el-button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: $--color-primary-light;
    color: white;
    border: 1px solid $--color-primary-light;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    width: fit-content;

    &:focus {
      display: none;
    }

    &:hover {
      background-color: $--color-primary;
    }
  }
}

.icons-style {
  font-size: 30px;
  color: $--color-primary;
}