@import "spacing";

@for $i from 0 through 12 {
  .width-#{$i} {
    width: calc(100% / 12 * #{$i});
  }
}

@for $i from 0 through 500 {
  .pers-width-#{$i} {
    width: calc(1px * #{$i});
  }
  .input-width-#{$i} {
    .el-input__inner {
      width: calc(1px * #{$i});
    }
  }
}

.el-input__inner {
  border: 1px solid $--color-info;
  border-radius: 3px;
  outline-color: $--color-primary;
  height: 20px;
}

.cp {
  cursor: pointer;
}

.soft-border {
  box-shadow: 0 0 5px $--color-info;
  border: 1px solid $--color-info-light;
  border-radius: 5px;
}

.icons-style {
  font-size: 30px;
  color: $--color-primary;
  &:hover {
    color: $--color-primary-dark;
  }
}