@import "spacing";
@import "typography";
@import "date-time-picker";
@import "~element-ui/packages/theme-chalk/src/notification";
@import "~element-ui/packages/theme-chalk/src/icon";
@import "~element-ui/packages/theme-chalk/src/radio";
@import "~element-ui/packages/theme-chalk/src/scrollbar";
@import "~element-ui/packages/theme-chalk/src/common/transition";


@for $i from 0 through 12 {
  .width-#{$i} {
    width: calc(100% / 12 * #{$i});
  }
}

@for $i from 0 through 500 {
  .pers-width-#{$i} {
    width: calc(1px * #{$i});
  }
  .input-width-#{$i} {
    .el-input__inner {
      width: calc(1px * #{$i});
    }
  }
}


.el-input {
  position: relative;

  i[class^="el-icon-"], i[class*=" el-icon-"] {
    position: absolute;
    right: 0;
    padding: 4px;
    color: $--color-primary;
  }

  ::placeholder {
    padding-right: 24px;
    color: $--color-info-light;
    font-family: 'droid_sans', sans-serif;
  }
}

.el-input__inner {
  padding-right: 24px;
  padding-left: 10px;
  border: 1px solid $--color-info-light;
  border-radius: 3px;
  outline: none;
  height: 20px;
  color: $--color-black-lighter !important;

  &:hover {
    border: 1px solid $--color-primary-lighter;
  }

  &:focus {
    border: 1px solid $--color-primary;
  }
}

.cp {
  cursor: pointer;
}

.soft-border {
  box-shadow: 0 0 5px $--color-info;
  border: 1px solid $--color-info-light;
  border-radius: 5px;
}

.icons-style {
  font-size: 30px;
  color: $--color-primary;

  &:hover {
    color: $--color-primary-dark;
  }
}

.custom-notification {
  position: absolute;
  top: 80px !important;
  font-size: 12px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  color: $--color-black-lighter;
  font-family: 'cmu_brightroman', monospace;
}

html {
  color: $--color-black-lighter;
}

h1, h2, h3, h4 {
  font-family: "Arial Narrow", sans-serif;
}

span, p {
  font-family: 'cmu_brightroman', monospace;
}

.cell {
  font-family: "Arial Narrow", sans-serif;
}

.el-date-table {
  font-family: "Arial Narrow", sans-serif;
}