$--font-path: "~element-ui/packages/theme-chalk/src/fonts";

@font-face {
    font-family: 'cmu_brightroman';
    src: url("~@/assets/fonts/computer-modern/cmunbmr-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sans';
    src: url('~@/assets/fonts/droid-sans/DroidSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansbold';
    src: url('~@/assets/fonts/droid-sans/DroidSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}